<!DOCTYPE html>
<html lang="en">
<head>
    <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
         <!-- <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
             
                 
                  <form method="post">
                   <div class="form-group">
                     <label class="control-label" for="date">Date</label>
                     <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                   </div>
                   <div class="form-group">
                     <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                   </div>
                  </form>
                 
             
                 </div>
               </div>    
              </div>
             </div>  -->


            <!--   <script>
                    $(document).ready(function(){
                      var date_input=$('input[name="date"]'); //our date input has the name "date"
                      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                      var options={
                        format: 'yyyy-mm-dd',
                        container: container,
                        todayHighlight: true,
                        autoclose: true,
                        datesDisabled: ['2019-02-15', '2019-02-20']
                      };
                      date_input.datepicker(options);
                    })
                </script> -->

                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                
                      <a class="navbar-brand" href="/">BookWithMe</a>
                      <div class='container'>
                      <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                <a class="nav-link" href="manage-credentials">Manage your Credentials
                                  <span class="sr-only">(current)</span>
                                </a>
                              </li>
    
                              <li class="nav-item active">
                                    <a class="nav-link" href="view/bookings">View your bookings
                                      <span class="sr-only">(current)</span>
                                    </a>
                            </li>
    
                            <li class="nav-item active">
                              <a class="nav-link" href="/manage-booking">Manage Bookings
                                <span class="sr-only">(current)</span>
                              </a>
                      </li>

                      <li class="nav-item active">
                        <a class="nav-link" href="view/bookings"> User Dashboard
                          <span class="sr-only">(current)</span>
                        </a>
                </li>

                <li class="nav-item active">
                  <a class="nav-link" href="/book-properties-nav"> Explore and Book Properties
                    <span class="sr-only">(current)</span>
                  </a>
          </li>
    
          <li class="nav-item active">
              <a class="nav-link" href="/previous-bookings">Show My Previous Bookings
                <span class="sr-only">(current)</span>
              </a>
      </li>
                              
                            </ul>
                          </div>
                
              </nav>


              <nav class="avbar fixed-bottom navbar-dark bg-dark mt-5">
                <div class='container' align='center'>
                  <br>
                    <p class="navbar-text display-5"> <strong>Rent/Night for <%=  property_details.property_name%> is <%= property_details.rate %> </strong></p>
                </div>
                  
                </nav>

            


              <div class="jumbotron">

                  <div class="container">
                      <div class="row">
                        <div class="col-sm">
                          
                            <h1 class='display-3'><%= property_details. property_name %></h1> 
                            <br>
                            <br>
                            <p><%= property_details.description %></p> 

                            
                        </div>
                        <div class="col-sm">
                            <img src="images/homeimage.jpg" class="img-fluid" alt="Responsive image">
                        </div>
                        
                      </div>
                    </div>

                
              </div>
              <br>
              <div class='container'>
                <div class='row'>
                  <div class='col-sm'>
                   <p class='display-5'>
                      <%= property_details.specifications %>
                   </p> 
                  </div>
                  <div class='col-sm'> 
                     
                      <div class="card float-right border-0" style="width: 18rem;">
                          
                          <div class="card-body">
                            <br>

                            <p class="card-text">
                                <blockquote class="blockquote text-right">
                                    <p>"<%= hostDetails.something_about_me %>"</p>
                                    <footer class="blockquote-footer"> <%= hostDetails.name %> 
                                      <br>
                                      <cite title="Source Title">Host of this property</cite>
                                    </footer>
                                  </blockquote>
                            </p>
                            
                          </div>
                        </div>
                  </div>
                </div>
              </div>
<br>
<br>
              <div class='container-fluid' align="center">
                <h3 class='display-4'>
                  Take a tour of this property
                </h3>
                <br>
                this will contain images of the rentals in the form of cards with imgage top and its description
              </div>


              <br>
              <br>
              <br>

              <div class='jumbotron'>
                <div class='container'>
                  <div class='row'>
                    <div class='col'>
                        
                        <% if (property_details.property_class === "bwm_plus") {%>
                        <p class='h4'>BookWithMe Plus<p>
                            <img src="images/plus.png" class="img-fluid" alt="Responsive image">
                            <br>
                            <br>
                        <% } %>

                        <% if (property_details.property_class === "boutique_rooms") {%>
                          <p class='h4'>BookWithMe Boutique Rooms</p>

                            <img src="images/boutique.png" class="img-fluid" alt="Responsive image">
                            <br>
                            <br>
                          <% } %>

                          <% if (property_details.property_class === "unique_homes") {%>
                            <p class='h4'> BookWithMe Unique Homes</p>
                            <img src="images/house.png" class="img-fluid" alt="Responsive image">
                            <br>
                            <br>
                            <% } %>

                            <% if (property_details.property_class === "entire_home") {%>
                              <p class='h4'> BookWithMe Entire Homes</p>
                              <img src="images/house.png" class="img-fluid" alt="Responsive image">
                            <br>
                            <br>
                              <% } %>


                    </div>
                    <div>

                    </div class='col'>
                    fetch each information on classes of property from database
                  </div>
                </div>

              </div>
              <br>
              <div class='container-fluid' align="center">
                  <h3 class='display-4'> Aminities </h3>
                  <br>
                  <p class='display-5'>
                    <%= property_details.amenities%>
                  </p>
              </div>
<br>

<div class='container-fluid' align="center">
    <h3 class='display-4'> Book this property </h3>
    <br>
<!--

  <form action="/book" method="POST">
    <div class='row'>
      <div class='col'>
          <div class="form-group">
              <label class="control-label" for="date">Check-in-Date</label>
              <input class="form-control" id="date" name="date" placeholder="Enter the check-in information in the form of yyyy-mm-dd" type="text" onchange="check_dates1()" />
            </div>
      </div>
      <div class='col'>
          <div class="form-group">
              <label class="control-label" for="date">Check-out-Date</label>
              <input class="form-control" id="date1" name="date" placeholder="Enter the check-out information in the form of yyyy-mm-dd" type="text" onchange="check_dates1()"/>
             
              <input type="hidden" name="host_property_id" value="<%= property_details._id %>">
              <input type = "hidden" name="property_name" value = "<%= property_details. property_name %>" >
              <input type="hidden" name="host_name" value="<%= hostDetails.name %>">
              <input type="hidden" name="host_id" value=" <%= hostDetails._id %>">
            </div>
      </div>
      

      <div class='container col' align  = "center">
          <div class="form-group">
        
              <br>
                <button class="btn btn-primary" type="submit" id = 'submit_button'>Submit</button>
              </div>
    
      </div>
    <div class="form-group">

    </div>
    </div>
  </form>


-->
<form action="/book" method="POST">

  <div class="container">
      <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label class="control-label" for="date">Check-in-Date</label>
                <input class="form-control" id="date" name="date" placeholder="Enter the check-in information in the form of yyyy-mm-dd" type="text" onchange="check_dates1()" />
              </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label class="control-label" for="date">Check-out-Date</label>
                <input class="form-control" id="date1" name="date" placeholder="Enter the check-out information in the form of yyyy-mm-dd" type="text" onchange="check_dates1()"/>
                <input type="hidden" name="rate" value="<%= property_details.rate%>">
                <input type="hidden" name="host_property_id" value="<%= property_details._id %>">
                <input type = "hidden" name="property_name" value = "<%= property_details. property_name %>" >
                <input type="hidden" name="host_name" value="<%= hostDetails.name %>">
                <input type="hidden" name="host_id" value=" <%= hostDetails._id %>">
              </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
          
                <br>
                
                  <button class="btn btn-primary" type="submit" id = 'submit_button'>Book this property</button>
                </div>
        </div>
      </div>
      <div class="row">
  
      </div>
      <div class="row">
          <div class="container" id="idis">
              <div class="alert alert-danger" role="alert" align="center" id = "error">
                  
                </div>
          </div>
      </div>
    </div>
  

</form>
 
  

  
   





<script>
  function check_dates1(){

    document.getElementById("submit_button").disabled = true;
    let x = document.getElementById('date').value;
    const user_check_in_date = new Date(x);
    let y = document.getElementById('date1').value;
    const user_check_out_date = new Date(y);
    const bookedProperties = '<%= bookedProperties %>'.split(','); 
    console.log(user_check_in_date);
    console.log(user_check_out_date);

    const set1 = new Set(bookedProperties);

    if(user_check_in_date < user_check_out_date){

        var userDatesInterval = [];

        while(user_check_in_date <= user_check_out_date){
            x = user_check_in_date.toISOString().slice(0,10);
            userDatesInterval.push(x);
            user_check_in_date.setDate(user_check_in_date.getDate() + 1);
        } // while ends
        console.log(userDatesInterval);


        // for loops to check the membreship of bookedProperties with the userDatesInterval array
        for(let i=0; i< (userDatesInterval.length) -1 ;i++){
          if(set1.has(userDatesInterval[i])){
          console.log('conflict');
          document.getElementById("error").innerHTML = 'It seems this property is already booked by someone with this dates. Please try entering dates again '
          document.getElementById("submit_button").disabled = true;
          break;

        } // if ends
        
        document.getElementById("submit_button").disabled = false;
        
      } // for ends
        
    
  } // big if ends here

  else{
    documentgetElementById("error")
    document.getElementById("error").innerHTML = 'It seems there is some problem with check-in and check-out dates you entered. Check-out cannot happen before Check-in. Please try entering dates again '
    document.getElementById("submit_button").disabled = true;
    
  }

  }

</script>
      
</div>
<br>
<div class='container-fluid' align="center">
    <h3 class='display-4'> Directions </h3>
</div>

<div class='container-fluid' align="center">
    <h3 class='display-4'> Reviews </h3>
    <br>
    <br>
    <% if( property_review.length === 0) { %>
      <div class="alert alert-info" role="alert" align="center">
        There are no reviews for this property
      </div>
      <% } else { %>
        <%for (var i = 0; i < property_review.length; i++ ) { %>
        <blockquote class="blockquote">
          <p><%= property_review[i].experience%>.
            <%= property_review[i].feedback_of_property%>. 
            <%= property_review[i].feedback_about_host%></p>.
            <%= property_review[i].user_name%> rates this property <%= property_review[i].rating %> <cite title="Source Title">
              

              <span class="fa fa-star" style="color:orange;"></span>
          
          <footer class="blockquote-footer">In this property between <%=property_review[i].chk_in_date %> and <%=property_review[i].chk_out_date%>
            <br>
            
            
            </cite>
          </footer>
        </blockquote>
        <br>
    <% } %>
        <% } %>
</div>
<div align="center">
    <h3 class='display-4'> Meet your host </h3>

</div>

              <br>
              <br>
              <br>
              <br>
              <br>
              <br>

              <script>
                  $(document).ready(function(){
      
                    var date_input = $('input[name="date"]') //our date input has the name "date"
                    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                    var options={
                      startDate: '<%= property_details.chk_in_date %>',
                      endDate : '<%= property_details.chk_out_date %>',
                      format: 'yyyy-mm-dd',
                      container: container,
                      todayHighlight: true,
                      autoclose: true,
                      datesDisabled: '<%= bookedProperties %>'.split(',')
                    };
                    date_input.datepicker(options);
                  })
              </script>

</body>
</html> 

