<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <!-- This can also be made like a sidebar navigation just like mobile apps-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><strong>BookWithMe</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/update-credentials"> Manage your credentials <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/create-rentals">Create Rentals</a>
                      </li>
                      

                          
            </ul>
            </div>

            <div class="topnav-right">
                    <a href="#">Logout  <%= host_name %></a>
            </div>
    </nav>
    <div class="jumbotron" align='center'>
      <h1 class="display-4">Hello, <%= host_name %>!</h1>
      <p class="lead">Welcome to your personalised <p class="font-weight-bold font-italic">Host DashBoard.</p></p>
      <hr class="my-4">
      <div class="container">
        You can view the properties you have which are currently on rent by renters from here. Also you can update your credentials, Update your property details, delete your property when you no longer feel to rent the same. You can also extend your property's rental date and edit the property information
      </div>
      
      <p class="lead">
        <br>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more about our Terms and Policies</a>
      </p>
    </div>

    <div class= "container" align="center">
        <div id="accordion">
            <div class="card">
              <div class="card-header">
                <h5>
                  <a href="#collapse1" data-parent="#accordion" data-toggle="collapse" align="center" class="btn btn-success btn-lg active">
                    View your currently Booked Properties
                  </a>
                </h5>
              </div>

              <div id="collapse1" class="collapse show">
                <% if (host_rentals.length === 0) { %>
                  <div class="display-5">
                    <br>
                    You have no Property which is currently occupied by renters
                  </div>
                  <% } else { %>
                    
                    <div class= "container">
                      <br>
                      <%= host_rentals.length %> properties found
                    </div>

                    <div class="card">

                        <% for (let p of host_rentals) { %>
                          <br>
                          <br>

                        <div class="card-header">
                            <p class="display-5 card-text font-italic font-weight-bold" >
                                <%= p.property_name %>
                              <br>
                              <%= p.address %>
                              <br>
                            </p>
                          
                          
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">
                            <p align="center">
                                <%if (p.property_class === "entire_home") { %>
                                  Entire Home
                                  <% } %>

                                  <%if (p.property_class === "bwm_plus") { %>
                                    BookWithMe Plus Properties
                                    <% } %>

                                    <%if (p.property_class === "boutique_rooms") { %>
                                      Boutique Rooms
                                      <% } %>

                                      <%if (p.property_class === "unique_homes") { %>
                                        Unique Home
                                        <% } %>
                            </p>
                          <p class="h6">Your property <%= p.property_name %> is currently active between  <%= p.chk_in_date %> to  <%= p.chk_out_date %> in <%= p.city %>, <%= p.state %> . Accomodation per rental is <%= p.accomodation_strength %>. This property was made available to the renters on <%= p.date_when_booked %></p>
                          <br>
                          <% if (p.date_when_booked !== '') { %>
                            <p class="h6">You Edited this property on <%= p.date_when_booked %> </p>
                            <br>
                            <% } %>
                          <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                    <form action="/edit-rental" method="POST">
                                      <input type="hidden" name="hostProperty_id" value="<%= p._id%>">
                                      <button type="submit" class="btn btn-success">Edit Rental</button>
                                    </form>
                                    
                                    <br>
                                </div>
                                <div class="col-sm">
                                    <form action="/rental-details" method="POST">
                                      <input type="hidden" name="hostProperty_id" value="<%= p._id%>">
                                      <button type="submit" class="btn btn-warning">Rental Details</button>
                                    </form>
                                </div>
                                <div class="col-sm">
                                    <form action="/delete-rental" method="POST">
                                      <input type="hidden" name="hostProperty_id" value="<%= p._id%>">
                                      <button type="submit" class="btn btn-danger">Delete Rental</button>
                                    </form>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                     
                      <% } %>
                  <br>
                  <br>
                </div>
                <% } %>
              </div>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
crossorigin="anonymous"></script>
</body>

</html>
</body>
</html>
    