<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <!-- This can also be made like a sidebar navigation just like mobile apps-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><strong>BookWithMe</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/update-credentials"> Manage your credentials <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/create-rentals">Create Rentals</a>
                      </li>
                      

                          
            </ul>
            </div>

            <div class="topnav-right">
                    <a href="#">Logout  <%= host_name %></a>
            </div>
    </nav>
    <% if(message) { %>
        <div class="container">
                <div align="center" class="alert alert-success" role="alert">
                        Property details are successfully updated!
                      </div>
        </div>
        <%  } %>
    <div class="container" align="center">
            <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Check-In Date</th>
                        <th scope="col">Check-Out Date</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Date when Property is Booked</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                          <% for(var i = 0 ; i < bookingDetails.length ; i++ ) { %>
                        <tr>
                        <th scope="row"><%= bookingDetails[i].check_in_date%></th>
                        <td><%= bookingDetails[i].check_out_date%></td>
                        <td><%= userDetails[i].user_name%></td>
                        <td><%= bookingDetails[i].date_when_property_booked %></td>
                      </tr>
                      <% } %>
                      
                    </tbody>
                  </table>
    </div>
    
</body>
</html>