<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container md-5" align="center">
        <br>
        <br>
        <br>

        <p class="display-3">Update your credentials </p>
        <p class="display-4">Update your credentials anytime. Once you click the edit button changes will be made..</p>
        <br>
        <p class="display-5"> Your original credentials will be displayed and then you can subsequently change your credentials as you want.</p>
        <br>
        <br>
        <div align="center md-5">
                <form action="/updated-rental" method="POST">

                    <div class="form-group">
                        <label for="uniqueUsername">Userame</label>
                        <input type="text" class="form-control" id="unique_user_name" placeholder="Enter Name" name="unique_user_name" >
                        <small id="emailHelp" class="form-text text-muted">Your username is <%= user_credentials_props.unique_user_name%> </small>
                    </div>


                      <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
                              <small id="emailHelp" class="form-text text-muted">Your Name is <%= user_credentials_props.name %> </small>
                            </div>

                          <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                            <small id="emailHelp" class="form-text text-muted">Your email address is <%= user_credentials_props.email %></small>
                          </div>
                          
                          <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                            <small id="passwordHelp" class="form-text text-muted">Your password is <%= user_credentials_props.password %>.</small>
                          </div>
                                
                          <div class="form-group">
                                  <label for="exampleInputPassword1">Contact No.</label>
                                  <input type="number" class="form-control" id="C-no" placeholder="Enter valid phone number" name="contactNo">
                                  <small id="passwordHelp" class="form-text text-muted">Your phone no is <%= user_credentials_props.contactNo %>.</small>
                          </div>
    
                          
                          <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                        
        </div>
</body>
</html>